absl-py==0.15.0
aiohttp @ file:///croot/aiohttp_1694181079612/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
anyio @ file:///tmp/build/80754af9/anyio_1644481698350/work/dist
astunparse==1.6.3
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
atomicwrites==1.4.0
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
cachetools==4.2.4
certifi @ file:///croot/certifi_1690232220950/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
charset-normalizer==3.0.1
cirq @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work
cirq-aqt @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-aqt
cirq-core @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-core
cirq-google @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-google
cirq-ionq @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-ionq
cirq-pasqal @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-pasqal
cirq-rigetti @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-rigetti
cirq-web @ file:///home/conda/feedstock_root/build_artifacts/cirq-meta_1673027660328/work/cirq-web
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1694444244250/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Deprecated @ file:///opt/conda/conda-bld/deprecated_1659726428456/work
dice-ml==0.9
dill==0.3.5.1
dlx==1.0.4
docplex==2.23.222
duet @ file:///home/conda/feedstock_root/build_artifacts/duet-python_1689248660746/work
etils==1.0.0
fastdtw==0.3.4
flatbuffers==1.12
fonttools==4.38.0
frozenlist @ file:///croot/frozenlist_1670004507010/work
gast==0.3.3
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645455532332/work
google-api-core @ file:///C:/ci/google-api-core-split_1613980333946/work
google-auth @ file:///tmp/build/80754af9/google-auth_1626320605116/work
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos @ file:///opt/conda/conda-bld/googleapis-common-protos-feedstock_1660256159732/work
graphviz==0.20.1
grpcio @ file:///croot/grpc-suite_1685746860162/work
h11 @ file:///tmp/build/80754af9/h11_1620423447028/work
h2 @ file:///tmp/build/80754af9/h2_1615904319604/work
h5py==2.10.0
hpack==4.0.0
httpcore @ file:///tmp/abs_47lp4jz61l/croots/recipe/httpcore_1659344179519/work
httpx @ file:///tmp/abs_931x1eug8t/croots/recipe/httpx_1659460911452/work
hyperframe==6.0.1
IBMQuantumExperience==2.0.4
idna @ file:///croot/idna_1666125576474/work
importlib-metadata==6.0.0
importlib-resources==5.10.2
inflection==0.5.1
iso8601 @ file:///tmp/build/80754af9/iso8601_1638451685228/work
jax==0.3.15
jaxlib==0.3.15
joblib==1.2.0
Js2Py @ file:///croot/js2py_1679573641613/work
jsonschema==4.17.3
Keras-Preprocessing==1.1.2
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lark @ file:///home/conda/feedstock_root/build_artifacts/lark_1635880553385/work
Markdown==3.4.1
MarkupSafe==2.1.2
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==0.6.1
multidict @ file:///croot/multidict_1665674239670/work
multitasking==0.0.11
munkres==1.1.4
networkx==2.8.8
ntlm-auth==1.5.0
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682952636358/work
oauthlib==3.2.2
opt-einsum==3.3.0
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///croot/pandas_1692289311655/work
pbr==5.10.0
Pillow @ file:///croot/pillow_1696580024257/work
pkgutil_resolve_name==1.3.10
platformdirs @ file:///croot/platformdirs_1692205439124/work
ply==3.11
pooch @ file:///croot/pooch_1695850093751/work
proto-plus @ file:///opt/conda/conda-bld/proto-plus_1663770562199/work
protobuf==3.20.3
psutil==5.9.4
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1695798841041/work
pyjsparser @ file:///opt/conda/conda-bld/pyjsparser_1663891625447/work
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyquil @ file:///home/conda/feedstock_root/build_artifacts/pyquil_1685808464663/work
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-rapidjson==1.5
pytz @ file:///croot/pytz_1695131579487/work
pyzmq @ file:///croot/pyzmq_1686601365461/work
qcs-api-client @ file:///home/conda/feedstock_root/build_artifacts/qcs-api-client_1683146797042/work
qiskit==0.37.1
qiskit-aer==0.10.4
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.19.2
qiskit-ignis==0.7.1
qiskit-terra==0.21.1
Quandl==3.7.0
regex @ file:///croot/regex_1696515298636/work
requests @ file:///croot/requests_1690400202158/work
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
retrying @ file:///Users/ktietz/demo/mc3/conda-bld/retrying_1629465456590/work
retworkx==0.11.0
rfc3339==6.2
rfc3986 @ file:///Users/ktietz/demo/mc3/conda-bld/rfc3986_1629478296451/work
rpcq @ file:///home/conda/feedstock_root/build_artifacts/rpcq_1681347770652/work
rsa==4.9
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
scikit-learn==1.2.1
scipy==1.10.1
six @ file:///tmp/build/80754af9/six_1644875935023/work
sklearn==0.0.post1
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
stevedore==4.0.0
symengine==0.9.2
sympy @ file:///croot/sympy_1668202399572/work
tenacity @ file:///croot/tenacity_1682972284834/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-quantum==0.5.1
tensornetwork==0.4.6
termcolor==1.1.0
threadpoolctl==3.1.0
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tqdm @ file:///croot/tqdm_1679561862951/work
tweedledum==1.1.1
types-Deprecated @ file:///home/conda/feedstock_root/build_artifacts/types-deprecated_1689967456605/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1689882883784/work
types-retry @ file:///home/conda/feedstock_root/build_artifacts/types-retry_1689875541596/work
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal @ file:///croot/tzlocal_1668627599277/work
urllib3 @ file:///croot/urllib3_1686163155763/work
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.2.2
wrapt @ file:///tmp/abs_c335821b-6e43-4504-9816-b1a52d3d3e1eel6uae8l/croots/recipe/wrapt_1657814400492/work
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
yfinance==0.1.74
zipp==3.12.0
